.card-stack {
  position: relative;
  /* padding-top: 10vh; Space for cards to appear */
  width: 100%;
  max-width: 1200px; /* Match card width */
  margin: 0 auto; /* Center cards */
}

.card-container {
  position: "sticky";
  width: 100%;
  padding: 40px;
  margin-bottom: 20px;
  margin-top: 50px;
  border-radius: 24px;
  transform-origin: top center;
  will-change: transform, filter, position, top;
  transition: top 0.5s ease-in-out; /* Smoother top transitions */
}

.card-inner {
  width: 100%;
  background: #F9FAFB;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 50px 48px;
  border-radius: 24px;
  will-change: transform, filter;
  min-height: 450px; /* Consistent height */
  transition: transform 0.5s ease-in-out, filter 0.5s ease-in-out; /* Slower transitions */
}

@media (max-width: 767px) {
  .card-stack {
    /* padding-top: 20vh; */
    max-width: 100%;
  }

  .card-container {
    padding: 20px 10px;
    margin-bottom: 10px;
  }

  .card-inner {
    flex-direction: column;
    padding: 30px 20px;
    min-height: 500px;
    transition: transform 0.4s ease-in-out, filter 0.4s ease-in-out; /* Slightly faster for mobile */
  }
}
