.card-wrapper {
    /* display: flex;
    gap: 40px; 
    transition: gap 0.3s ease;
    overflow: visible; */
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;  /* Changed to absolute for centering */
    /* top: 50%;         Centers vertically */
    /* left: 50%;         Centers horizontally */
    /* transform: translate(-50%, -50%);          Offsets the positioning for exact centering */
    cursor: pointer;
    overflow: visible;
    transition: all 0.5s ease;
    justify-content: center;
}

.card {
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out, z-index 0.3s ease-in-out;
    /* transition: all 0.5s ease, transform 0.3s ease; */
    position: relative;
    transform-origin: center;
}

.card-1 {
    z-index: 1;
    left: 80px;
  }
  
  .card-2 {
    z-index: 2;
    left: 30px;
  }
  
  .card-3 {
    z-index: 3;
    left: -25px;
  }
  
  .card-4 {
    z-index: 4;
    left: -80px; /* Adjusted position so it’s visible */
  }


.card:hover {
    transform: scale(1.1) !important; /* Scale effect */
    /* z-index: 10; Bring to front */
  }


.card-wrapper:hover .card {
    position: relative;
    left: unset;
    transform: translateX(0);
}

.card-wrapper:hover .card-1 {
    /* transform: translateX(-50px); */
    right: 40px;

    /* z-index: 10; */
  }
  
  .card-wrapper:hover .card-2 {
    /* transform: translateX(-20px);  */
      left: -5px;

  }
  
  .card-wrapper:hover .card-3 {
    /* transform: translateX(15px);  */
      left: 20px;
  }
  
  .card-wrapper:hover .card-4 {
    /* transform: translateX(50px);  */
      right: -50px;
  }

/* .card:hover {
    transform: scale(1.1);
    z-index: 10;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.2);
}


.card-wrapper:hover {
    gap: 50px;
    overflow-y: "hidden";
    transition: gap 0.3s ease;
} */
