.card-wrapper {
    display: flex;
    gap: 40px; 
    transition: gap 0.3s ease;
    overflow: visible;
}

.card {
    transition: transform 0.3s ease, margin 0.3s ease;
    transform: scale(1); 
    cursor: pointer;
    position: relative;
}

.card:hover {
    transform: scale(1.1);
    z-index: 10;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.2);
}


.card-wrapper:hover {
    gap: 50px;
    overflow-y: "hidden";
    transition: gap 0.3s ease;
}
